<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>angular todolist</title>
    <link type="text/css" href="css/index.css" rel="stylesheet"/>
    <script src="../angular.min.js"></script>
    <style type="text/css">
        .tab {
            display: inline-block;
            list-style: none;
            padding: 10px;
            border: 1px solid #ddd;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .pane {
            width: 170px;
            border: 1px solid #ddd;
            height: 100px;
            margin: 0 auto;
        }

        .tab.active {
            background-color: #ddd;
        }

        .tab-pane {
            float: left;
            display: none;
        }

        .tab-pane.active {
            display: block;
        }
    </style>
</head>
<body>
<div class="banner">我的任务</div>
<div ng-app="myapp" class="wrap">
    <div ng-controller="someController">
        <p>1,transclude</p>
        <side-box title="{{title}}">
            <div sideboxtitle="Links">
                <ul>
                    <li>First link</li>
                    <li>Second link</li>
                </ul>
            </div>
        </side-box>
        <hr>

        <p>2，controller值为字符串demo</p>
        <input ng-model="name">
        <my-directive></my-directive>
        <hr>

        <p>3，controller值为function + require:实现一个tab切换</p>
        <tabs>
            <pane title="tab1">
                <div>我是tab1的内容</div>
            </pane>
            <pane title="tab2">
                <div>我是tab2的内容</div>
            </pane>
            <pane title="tab3">
                <div>我是tab3的内容</div>
            </pane>
        </tabs>

    </div>
    <div ng-controller="otherController"></div>
</div>
<div ng-app="otherapp">
    <div ng-controller="otherController"></div>
</div>
<script>
    angular.module("myapp", [])
        .controller("someController", function ($scope) {
            console.log("我是controller");
            $scope.title = "标题";
        })
        .controller("otherController", function ($scope) {
            console.log("我是othercontroller");
        })
        .directive("sideBox", function () {
            return {
                restrict: "E",
                scope: {
                    title: "@"
                },
                replace: true,
                transclude: true,
                template: '<div class="slidebox">' +
                '<div class="content">' +
                '<h2 class="header">{{title}}</h2>' +
                '<span class="content" ng-transclude></span>' +
                '</div>' +
                '</div>',
                controller: function ($scope, $element, $attrs, $transclude) {
                    $transclude(function (clone) {
                        var a = angular.element('<a>');
                        a.attr('href', $attrs.value);
                        a.text(clone.text());
                        $element.append(a);
                    })
                    console.log($scope + $element + $attrs + $transclude);
                }
            }
        })
        .directive("myDirective", function () {
            return {
                restrict: "E",
                scope: true,
                replace: true,
                template: '<div>{{name}}</div>',
                controller: "otherController"

            }
        })
        //tabs指令
        .directive("tabs", function () {
            return {
                restrict: "EA",
                replace: true,
                transclude: true,
                scope: {},
                template: '<div class="my-tab">' +
                '<ul>' +
                '<li class="tab" ng-repeat="item in panes" ng-click="click(item)" ng-class="{active:item.selected}">{{item.title}}</li></ul>' +
                '<div class="pane" ng-transclude></div>' +
                '</div>',
                controller: function ($scope) {
                    var panes = $scope.panes = [];
                    $scope.click = function (tabitem) {
                        //其他都不选中
                        angular.forEach(panes, function (scope) {
                            scope.selected = false;
                        })
                        //当前为选中项
                        tabitem.selected = true;

                    }
                    this.addPane = function (scope) {
                        if (panes.length === 0) {
                            $scope.click(scope);
                        }
                        panes.push(scope);
                    }
                },
                link: function (scope, element, attrs) {
                    console.log(11);
                }
            }
        })
        .directive("pane", function () {
            return {
                restrict: "EA",
                require: "^tabs",//从父指令中查找控制器，并注入到link函数中
                scope: {
                    title: "@"
                },
                replace: true,
                transclude: true,
                template: '<div class="my-pane">' +
                '<div  class="tab-pane" ng-class="{active:selected}" ng-transclude></div>' +
                '</div>',
                controller: function ($scope) {
                    console.log("我是pane的controller");
                },
                link: function (scope, element, attrs, tabCtrl) {
                    tabCtrl.addPane(scope);
                }
            }
        })
    angular.module("otherapp", [])
        .controller("otherController", function ($scope) {
            //myDirective中的controller没有对应此controller
            console.log("我是othercontroller");
        })
</script>
</body>
</html>