<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>angular todolist</title>
    <link type="text/css" href="css/index.css" rel="stylesheet"/>
    <script src="../angular.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div class="banner">我的任务</div>
<div ng-app="myapp" class="wrap">
    <div ng-controller="todolist">
        <div>
            <select class="priority-select" ng-model="priorityVal">
                <option value="{{key}}" ng-repeat="(key,val) in Arr track by $index">{{key|formatPriority}}</option>
            </select>
            <input class="task-input" ng-model="todoitem" placeholder="请输入任务"/>
            <button class="task-add" ng-click="add()">add</button>
        </div>
        <!--容器-->
        <my-task>
            <!--正在进行中的任务-->
            <my-tasking>
                <div class="task-head" ng-click="unselected = unselected === 0 ? 1 : 0 ;">进行中的任务
                    <span class="cate-head-right">{{arr.length+vparr.length+parr.length}}</span>
                </div>

                <div class="task-container" ng-class="{'active':unselected === 1}"
                     ng-repeat="(key,val) in Arr track by $index">
                    <div class="cate-head"><p class="cate">{{key|formatPriority}}</p><span class="cate-head-right">{{val.length}}</span>
                    </div>
                    <task-item>
                        <div class="task-list" ng-repeat="index in val track by $index">
                            <div class="task-item">
                            <span class="control-checkbox">
                                <input type="checkbox" ng-model="index.hasdone" ng-click="done($index,val,index)">
                            </span>
                                <div class="task-text">
                                    <p class="today-focus" ng-click="edit(index,$event)" ng-hide="index.isEditing">
                                        {{index.text}}</p>
                                    <input class="editing-input" ng-model="index.text" ng-show="index.isEditing"
                                           ng-blur="editBlur(index)">
                                    <span class="remove-task" ng-click="remove($index,val)">x</span>
                                </div>
                            </div>
                        </div>
                    </task-item>
                </div>
            </my-tasking>
            <!--已经完成的任务-->
            <my-tasked>
                <div class="task-head" ng-click="doselect = doselect === 0 ? 1 : 0;">已完成的<span class="cate-head-right">{{donearr.length}}</span>
                </div>

                <div class="task-container" ng-class="{'active':doselect === 1 }">
                    <div class="task-list" ng-repeat="index in donearr track by $index">
                        <div class="task-item">
                            <div class="task-text">
                                <p class="today-focus hasdone-{{index.hasdone}}" ng-click="edit($event)">
                                    {{index.text}}</p>
                                <input class="editing-input hidden" ng-model="index.text" ng-blur="editBlur($event)">
                                <span class="remove-task" ng-click="remove($index,donearr)">x</span>
                            </div>
                        </div>
                    </div>
                </div>
            </my-tasked>
        </my-task>

        <div class="clear-btn"><a ng-click="clear()">clear all</a></div>
    </div>
</div>
</body>
</html>