<div class="activityPage"><img ng-src="{{ctrl.getPics().url1}}"> <img ng-src="{{ctrl.getPics().url2}}">
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url3}}">
		<div class="pro-info-link"><span class="pro-info-item" ng-click="ctrl.goProductInfo(250029402)"><span
				class="a-abs">￥{{ctrl.getPrice(250029402)}}</span> </span><span class="pro-info-item"
		                                                                        ng-click="ctrl.goProductInfo(250031470)"><span
				class="a-abs">￥{{ctrl.getPrice(250031470)}}</span></span></div>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url4}}">
		<div class="pro-info-link"><span class="pro-info-item" ng-click="ctrl.goProductInfo(250049523)"><span
				class="a-abs">￥{{ctrl.getPrice(250049523)}}</span> </span><span class="pro-info-item"
		                                                                        ng-click="ctrl.goProductInfo(250082390)"><span
				class="a-abs">￥{{ctrl.getPrice(250082390)}}</span></span></div>
	</div>
	<img ng-src="{{ctrl.getPics().url5}}">
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url6}}"> <span class="pro-btn a-abs"
	                                                                            ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002593'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url7}}"> <span class="pro-btn a-abs"
	                                                                            ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002594'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url8}}"> <span class="pro-btn a-abs"
	                                                                            ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002595'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url10}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250022427'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url11}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002598'})"></span>
	</div>
	<img ng-src="{{ctrl.getPics().url12}}">
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url13}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002599'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url14}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002600'})"></span>
	</div>
	<img ng-src="{{ctrl.getPics().url15}}">
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url16}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002601'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url17}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002602'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url18}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002603'})"></span>
	</div>
	<div class="product-pic a-rel"><img ng-src="{{ctrl.getPics().url19}}"> <span class="pro-btn a-abs"
	                                                                             ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002604'})"></span>
	</div>
	<img ng-src="{{ctrl.getPics().url20}}"> <img ng-src="{{ctrl.getPics().url21}}"></div>
<style>.activityPage img {
	display: block;
	width: 100%
}

.a-rel {
	position: relative
}

.a-abs {
	position: absolute;
	color: #b20a00;
	font-size: 18px;
	bottom: 21%;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0
}

.activityPage .saladPrice, .activityPage .saladPrice-en, .activityPage .saladPrice-en-2, .activityPage .saladPrice-en-3 {
	z-index: 1;
	text-align: center;
	white-space: nowrap;
	font-weight: 800;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666
}

.activityPage .product-pic .pro-btn {
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 92%
}

.activityPage .saladPrice {
	bottom: -2%;
	left: 36%
}

.activityPage .saladPrice-en, .activityPage .saladPrice-en-2, .activityPage .saladPrice-en-3 {
	left: 38.5%
}

.activityPage .saladPrice-en {
	bottom: -2%
}

.activityPage .saladPrice-en-2 {
	bottom: 4%
}

.activityPage .saladPrice-en-3 {
	bottom: -3%
}

.activityPage .pro-info-link {
	position: absolute;
	top: 0;
	left: 2.5%;
	width: 96%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.activityPage .pro-info-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding-left: 2.8%;
	position: relative
}</style>
<script type="text/javascript">window._activityLoader(function($scope, $state, api, cartService, modals, $rootScope, stateUtils) {
    var ctrl = this;
    $scope.ctrl = ctrl;
    var pics = {
        "zh-CN": {
            url1: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_01.png",
            url2: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_02.png",
            url3: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_03.png",
            url4: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_04.png",
            url5: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_05.png",
            url6: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_06.png",
            url7: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_07.png",
            url8: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_08.png",
            url10: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_10.png",
            url11: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_11.png",
            url12: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_12.png",
            url13: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_13.png",
            url14: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_14.png",
            url15: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_15.png",
            url16: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_16.png",
            url17: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_17.png",
            url18: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_18.png",
            url19: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_19.png",
            url20: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_20.png",
            url21: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/ch/ch_21.png"
        },
        en: {
            url1: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_01.png",
            url2: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_02.png",
            url3: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_03.png",
            url4: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_04.png",
            url5: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_05.png",
            url6: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_06.png",
            url7: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_07.png",
            url8: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_08.png",
            url10: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_10.png",
            url11: "http://www.carrefour.cn/assets/upload/appActivityPic/heshengyuan-1-1215/en/img_en_11.png",
            url12: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_12.png",
            url13: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_13.png",
            url14: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_14.png",
            url15: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_15.png",
            url16: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_16.png",
            url17: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_17.png",
            url18: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_18.png",
            url19: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_19.png",
            url20: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_20.png",
            url21: "http://www.carrefour.cn/assets/upload/appActivityPic//heshengyuan-1-1215/en/img_en_21.png"
        }
    };
    _.assign(ctrl, stateUtils, {
        goProductInfo: function(productsId, goodsId, name, fromLocation) {
            stateUtils.goProductInfo(productsId, goodsId, name, fromLocation)
        }, getPics: function() {
            return pics[APP_CONFIG.language]
        }, init: function() {
            var param = {productsId: "250029402_250031470_250049523_250082390"};
            api.get("/activity/getGoodId", param).success(function(response) {
                ctrl.getPrice = function(productId1) {
                    var paramOne = response.goodsMap[productId1];
                    return response.priceDTOMap[paramOne].price
                }
            })
        }, getParams: function() {
            switch (APP_CONFIG.cityId) {
                case 250000200:
                case 612:
                    ctrl.myParams = {url: "/category?vc=250002487"};
                    break;
                default:
                    ctrl.myParams = {url: "/category?vc=250002516"}
            }
        }, goProductList_1: function() {
            ctrl.getParams(), stateUtils.goProductList(ctrl.myParams)
        }
    }), ctrl.init()
});</script>
