<div class="activityPage"><img ng-src="{{ctrl.getPics().url1}}"> <img ng-src="{{ctrl.getPics().url2}}">
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url3}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250036285)">
				<span class="price-btn saladPrice_one" ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en-2' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250036285)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250044717)">
				<span class="price-btn saladPrice_one" ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en-2' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250044717)}}</span>
			</div>
		</div>
	</div>
	<img ng-src="{{ctrl.getPics().url27}}"
	     ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002635'})"> <img
			ng-src="{{ctrl.getPics().url28}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002634'})"> <img
			ng-src="{{ctrl.getPics().url29}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002636'})"> <img
			ng-src="{{ctrl.getPics().url4}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002525'})"> <img
			ng-src="{{ctrl.getPics().url5}}">
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url6}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250101636)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250101636)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250023458)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250023458)}}</span>
			</div>
		</div>
	</div>
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url7}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250094376)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250094376)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250027151)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250027151)}}</span>
			</div>
		</div>
	</div>
	<img ng-src="{{ctrl.getPics().url8}}"
	     ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002490'})"> <img
			ng-src="{{ctrl.getPics().url9}}">
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url10}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250074932)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250074932)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250074624)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250074624)}}</span>
			</div>
		</div>
	</div>
	<img ng-src="{{ctrl.getPics().url11}}"
	     ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002505'})"> <img
			ng-src="{{ctrl.getPics().url12}}">
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url13}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250040626)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250040626)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250029573)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250029573)}}</span>
			</div>
		</div>
	</div>
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url14}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250032693)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250032693)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250032194)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250032194)}}</span>
			</div>
		</div>
	</div>
	<img ng-src="{{ctrl.getPics().url15}}"
	     ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002491'})"> <img
			ng-src="{{ctrl.getPics().url16}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002509'})"> <img
			ng-src="{{ctrl.getPics().url17}}">
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url18}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250026710)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250026710)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250032674)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250032674)}}</span>
			</div>
		</div>
	</div>
	<div class="product-pic"><img ng-src="{{ctrl.getPics().url19}}">
		<div class="btn">
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250024803)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en-3' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250024803)}}</span>
			</div>
			<div class="pro-btn" ng-click="ctrl.goProductInfo(250028559)"><span class="price-btn saladPrice_one"
			                                                                    ng-class="APP_CONFIG.language == 'en'? 'saladPrice-en-3' : 'saladPrice'">{{ctrl.getPics().url26}}:&#32;&#165;{{ctrl.getPrice(250028559)}}</span>
			</div>
		</div>
	</div>
	<img ng-src="{{ctrl.getPics().url20}}"
	     ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002508'})"> <img
			ng-src="{{ctrl.getPics().url21}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002506'})"> <img
			ng-src="{{ctrl.getPics().url22}}"
			ng-click="ctrl.goProductList({url:'http://www.carrefour.cn/category?vc=250002510'})"> <img
			ng-src="{{ctrl.getPics().url23}}"> <img ng-src="{{ctrl.getPics().url24}}"> <img
			ng-src="{{ctrl.getPics().url25}}"></div>
<style>.activityPage {
	background-color: #c9ece8
}

.activityPage img {
	display: block;
	width: 100%
}

.a-rel {
	position: relative
}

.a-abs {
	position: absolute
}

.activityPage .product-pic {
	position: relative
}

.activityPage .product-pic .btn {
	position: absolute;
	top: 0;
	left: 1.72%;
	width: 94.53%;
	height: 88.3%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.activityPage .product-pic .pro-btn {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin-left: 2.5%
}

.activityPage .product-pic .price-btn {
	position: absolute
}

.activityPage .saladPrice_one {
	z-index: 1;
	text-align: center;
	white-space: nowrap;
	font-weight: 800;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #a1171f
}

.activityPage .saladPrice {
	top: 47%;
	left: 52%
}

.activityPage .saladPrice-en-2 {
	top: 49%;
	left: 48%
}

.activityPage .saladPrice-en {
	top: 50%;
	left: 48%
}

.activityPage .saladPrice-en-3 {
	top: 47%;
	left: 46%
}
</style>
<script type="text/javascript">window._activityLoader(function ($scope, stateUtils, toast, api, cartService) {
    var ctrl = this;
    $scope.ctrl = ctrl;
    var pics = {
        "zh-CN": {
            url1: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_01.png",
            url2: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_02.png",
            url3: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_03_02.png",
            url4: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_04.png",
            url5: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_05.png",
            url6: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_06.png",
            url7: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_07.png",
            url8: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_08.png",
            url9: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_09.png",
            url10: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_10.png",
            url11: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_11.png",
            url12: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_12.png",
            url13: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_13.png",
            url14: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_14.png",
            url15: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_15.png",
            url16: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_16.png",
            url17: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_17.png",
            url18: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_18.png",
            url19: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_19.png",
            url20: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_20.png",
            url21: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_21.png",
            url22: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_22.png",
            url23: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_23.png",
            url24: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_24.png",
            url25: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_25.png",
            url26: "价格",
            url27: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_27.png",
            url28: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_28.png",
            url29: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_29.png"
        },
        en: {
            url1: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_01.png",
            url2: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_02.png",
            url3: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_03_02.png",
            url4: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_04.png",
            url5: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_05.png",
            url6: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_06.png",
            url7: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_07.png",
            url8: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_08.png",
            url9: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_09.png",
            url10: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_10.png",
            url11: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_11.png",
            url12: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_12.png",
            url13: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_13.png",
            url14: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_14.png",
            url15: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_15.png",
            url16: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_16.png",
            url17: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_17.png",
            url18: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_18.png",
            url19: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_19.png",
            url20: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_20.png",
            url21: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_21.png",
            url22: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_22.png",
            url23: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_23.png",
            url24: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_24.png",
            url25: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_25.png",
            url26: "Price",
            url27: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_27.png",
            url28: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_28.png",
            url29: "http://www.carrefour.cn/assets/upload/appActivityPic/1129-2-food-app/img_en_29.png"
        }
    };
    _.assign(ctrl, stateUtils, {
        getPics: function () {
            return pics[APP_CONFIG.language]
        }, goProductInfo: function (productsId, goodsId, name, fromLocation) {
            stateUtils.goProductInfo(productsId, goodsId, name, fromLocation)
        }, init: function () {
            var param = {productsId: "250036285_250044717_250101636_250023458_250094376_250027151_250074932_250074624_250040626_250029573_250032693_250032194_250026710_250032674_250024803_250028559"};
            api.get("/activity/getGoodId", param).success(function (response) {
                ctrl.getPrice = function (productId1) {
                    var paramOne = response.goodsMap[productId1];
                    return response.priceDTOMap[paramOne].price
                }
            })
        }
    }), ctrl.init()
});</script>
