<ion-modal-view class="carrefour-cardinstruction-modal">

    <ion-content class="carrefour-card-instruction-panel">

        <div class="card-instruction">
            <div class="img-instruction-box">
                <div class="img-instruction"></div>
            </div>
            <div class="text">
                <p class="content-msg content-one">
                    {{'carrefourCardInstruction.contentOne' | translate}}
                </p>
                <p class="content-msg content-two">
                    {{'carrefourCardInstruction.contentTwo' | translate}}
                </p>
            </div>
            <button class="button next-step-btn" ng-click="carrefourCardInstruction.nextStep()">{{'carrefourCardInstruction.next' | translate}}</button>
        </div>

    </ion-content>

</ion-modal-view>
