<ion-modal-view>
    <ion-header-bar class="bar-default">
        <button class="button button-clear left-btn" ng-click="retrievePassword.backup()">
            {{'retrievePassword.goBack' | translate}}
        </button>
        <h1 class="title">{{'retrievePassword.retrievePassword' | translate}}</h1>
    </ion-header-bar>

    <ion-content class="retrieve-password-panel" scroll="false">

        <cm-switcher delegate-handle="retrieve-password-modal">

            <ion-scroll class="panel ph">
                <form name="form" ng-submit="retrievePassword.validateLoginName()" novalidate>
                    <div class="form-item">
                        <input class="textbar" type="text" placeholder="{{'retrievePassword.inputLoginName' | translate}}"
                               name="loginName" ng-model="retrievePassword.params.loginName"
                               required />
                    </div>
                    <div class="form-item image-verify-code-item">
                        <div class="row">
                            <div class="col">
                                <input class="textbar" type="text" placeholder="{{'retrievePassword.inputVerifyCode' | translate}}"
                                       name="imageVerifyCode" ng-model="retrievePassword.params.imageVerifyCode"
                                       required />
                            </div>
                            <div class="col col-adaptive">
                                <img class="image-verify-code" cm-image-verify-code />
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <button class="button button-block button-primary"
                                ng-disabled="form.$invalid">{{'retrievePassword.next' | translate}}</button>
                    </div>
                </form>
            </ion-scroll>

            <ion-scroll class="panel ph">
                <form name="form" ng-submit="retrievePassword.verifySMSVerifyCode()" novalidate>
                    <div class="item-tip form-global-inform warning tm" ng-if="retrievePassword.params.state == 0">
                        <i class="icon"></i>
                        <span class="tip">{{'retrievePassword.readySendTip' | translate}}</span>
                        <span class="mobile">{{retrievePassword.params.loginName | textFormat}}</span>
                    </div>
                    <div class="item-tip form-global-inform warning tm" ng-if="retrievePassword.params.state==2">
                        <i class="icon"></i>
                        <span class="tip">{{'retrievePassword.sendTip' | translate}}</span>
                        <span class="mobile">{{retrievePassword.params.loginName | textFormat}}</span>
                    </div>
                    <div class="form-item">
                        <label class="textbar">
                            <input type="text" ng-model="retrievePassword.params.smsVerifyCode" placeholder="{{'retrievePassword.inputVerifyCode' | translate}}" maxlength="6" required ng-minlength="6" ng-maxlength="6"/>
                            <span class="sl"></span>
                            <button type="button" ng-class="{'send-code-tip':!retrievePassword.params.timeDown}" ng-disabled="retrievePassword.params.timeDown!=undefined" on-tap="retrievePassword.sendSMSVerifyCode()" class="button button-clear button-small">{{retrievePassword.params.sendVerifyCodeText}}</button>

                             <span style="color: red; margin-left: -10px;" ng-if="retrievePassword.params.timeDown!=undefined">({{retrievePassword.params.timeDown}})</span>
                        </label>

                    </div>
                    <div class="form-item">
                        <button class="button button-block button-primary" ng-disabled="form.$invalid || retrievePassword.params.state!=2" >{{'retrievePassword.next' | translate}}</button>
                    </div>
                </form>
            </ion-scroll>

            <ion-scroll class="panel ph">
                <form name="form" ng-submit="retrievePassword.changePasswordByMobile()" novalidate>
                    <div class="form-item">
                        <label class="textbar" for="">
                            <input class="input-password" name="" type="password" ng-model="retrievePassword.params.newPassword" placeholder="{{'retrievePassword.inputPassword' | translate}}"  required ng-minlength="6" ng-maxlength="20" maxlength="20"/>
                        </label>
                        <div class="p mlx">
                            <label>
                                <span class="checkbox mrx">
                                    <input type="checkbox" ng-click="retrievePassword.changePasswordShowup()" ng-model="retrievePassword.params.showupPassword" />
                                </span>
                                {{'retrievePassword.showUp' | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-item">
                        <button class="button button-block button-primary" ng-disabled="form.$invalid">{{'retrievePassword.complete' | translate}}</button>
                    </div>
                </form>
            </ion-scroll>

            <ion-scroll class="panel ph" data-name="send-email-success-panel">
                <form>
                    <div class="form-global-inform warning tm row">
                        <div class="col"><i class="icon"></i></div>
                        <div class="col">{{'retrievePassword.sendTip' | translate}}  {{retrievePassword.params.loginName | textFormat}}，{{'retrievePassword.goEmail' | translate}}</div>
                    </div>
                    <div class="form-item">
                        <button class="button button-block button-primary" on-tap="retrievePassword.close()">{{'retrievePassword.goLoginPage' | translate}}</button>
                    </div>
                </form>
            </ion-scroll>

        </cm-switcher>

    </ion-content>
</ion-modal-view>
