<!-- <ion-view title="选择配送方式" cm-hide-tabs="false">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-primary button-bar-right mrx">确定</button>
    </ion-nav-buttons>

    <ion-content class="delivery-panel">
        <div class="delivery-box mt pt">
            <p class="delivery-title ptx pl">配送方式</p>
            <p class="delivery-txt pv ml">
                <button class="button button-outline button-quiet phd mr">准时达</button>
                <button class="button button-outline button-primary phd">EASY便利店自提</button>
            </p>
        </div>

        <div class="delivery-box pt">
            <p class="delivery-title pl">自提点：</p>
            <p class="delivery-txt prd pv pl" ng-click="delivery.selectPickUpAddress()">
                <i class="icon ion-ios-arrow-right fr"></i>
                中环外环之间 自提 黄桦路76-80号/弄
            </p>
        </div>

    </ion-content>

</ion-view> -->
