<ion-view title="{{'user.aboutUs.title' | translate}}" cm-hide-tabs="true">
  <ion-header-bar class="bar-default">
      <button class="button-clear button back-button" ng-click="goBack()">
          <i class="icon ion-ios-arrow-left"></i>
      </button>
  </ion-header-bar>

    <ion-content class="user-about-panel" scroll="false">

        <div class="about-img"></div>
        <p class="about-tips">
            <span class="tips-txt phd light-bg">{{'user.aboutUs.versionTxt' | translate}}</span>
        </p>
        <div class="about-copyright">
            <p>{{'user.aboutUs.sitTxt' | translate}}</p>
            <p>{{'user.aboutUs.copyrightTxt' | translate}}</p>
        </div>

    </ion-content>

</ion-view>
