<ion-modal-view class="reject-reason-panel">
    <ion-content>
        <div class="reject-close clearfix">
        	<i class="icon ion-ios-close-empty fr reject-close-i" ng-click="modals.rejectReason.close()"></i>
        </div>
        <div class="reject-box">
        	<div class="reject-title">
                {{rejectReason.colseReason}}
            </div>
            <div class="reject-content">
                {{rejectReason.rejectReason}}
            </div>
        </div>
    </ion-content>
</ion-modal-view>
