<ion-modal-view class="delivery-pickup-modal">

    <ion-content scroll="false">
        <p class="pickup-title ph clearfix">
            <button class="button button-clear button-primary fl" ng-click="modals.selectPickUpAddress.close()">关闭</button>
            <button class="button button-clear button-primary fr" ng-click="modals.selectPickUpAddress.close()">完成</button>
        </p>
        <div class="pickup-main">
            <ion-scroll class="pickup-main-scroll">
                <ul class="pickup-list">
                    <li class="pickup-item p active">Easy黄桦店 中国上海上海市闵行区</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                    <li class="pickup-item p">中环外环之间 自提 黄桦路76-80号/弄</li>
                </ul>
            </ion-scroll>
        </div>
    </ion-content>

</ion-modal-view>