<ion-view hide-nav-bar="true" cm-hide-tabs="false">

	<ion-header-bar class="bar-default">
		<!-- 搜索历史 -->
		<div class="header-search has-cancle-btn">
			<button class="button button-clear button-search fr">取消</button>
			<div class="search-form-area mhx">
				<form class="search-form" ng-submit="">
					<input type="search" class="input-search" placeholder="搜索您想要的商品" />
				</form>
			</div>
		</div>
	</ion-header-bar>

	<ion-content class="search-history-main">

		<p class="search-history-title">历史搜索</p>
		
		<p class="search-history-empty hide">暂无历史搜索记录</p>

		<ion-list class="search-history-list">
			<ion-item class="search-history-item">零食</ion-item>
			<ion-item class="search-history-item">零食零食零食零食零食零食零食零食零食零食零食零食零食零食</ion-item>
		</ion-list>

	</ion-content>

</ion-view>
