@charset "utf-8";

// 收件人列表“新增”按钮
.bar {

    .button-bar-right {
        font-size: $font-size-base!important;
    }
}

// 收件人列表
.member-consignee-list-panel {

    &.has-consignee {
        background-color: $stable;
    }
    &.has-footer {
        bottom: 60px;
    }

    .consignee-item {
        padding-right: 0;
        background-color: $light;
    }

    .active {
        background-color: #fffee4;

        .icon-selected {
            display: block;
        }
    }

    .icon-selected {
        position: absolute;
        top: 10px;
        right: 8px;
        display: none;
        color: $primary-color;
        font-size: 22px;
    }

    .consignee-item-name {
        margin: 12px 0 12px;
        color: $text-color;
        font-size: $font-size-big;

        .name {
            max-width: 60%;
            @include text-overflow-ellipsis;
        }
    }

    .consignee-item-info {
        position: relative;
        margin-bottom: 15px;
        color: $text-color-quiet;
        border-bottom: $line-color 1px solid;
    }

    .consignee-item-control {

        .control-status-bar {

            font-size: $font-size-base;
            color: $primary-color;
            opacity: 0.5;
            @include text-overflow-ellipsis;

            .icon-warning {
                position: absolute;
                font-size: 38px;
            }

            .warning-text {
                padding-left: 38px;
            }
        }

        .control-button-bar {
            overflow: visible;
            text-align: right;
            color: $text-color-quiet;
            white-space: normal;

            .button {
                font-size: $font-size-base;
            }

            .cm-icon {
                font-size: $font-size-icon;
            }
        }

        .radio-box {
            .radio {
                &:checked:before {
                    background-color: #ed1b23;
                }
                &:before {
                    background-color: #f6f6f6;
                }
            }
        }
    }

    .empty-consignee {
        margin: 30px;
        text-align: center;
    }

    .empty-img {
        height: 150px;
        background: url('#{$images-path}/consignee-empty.png') center center no-repeat;
        background-size: 150px auto;
    }

    .empty-tips {
        margin-bottom: 18px;
        font-size: $font-size-big;
        color: lighten($text-color-quiet, 20%);
    }

    .button {
        margin: 0;
    }
}

// 编辑/新增收件人
.consignee-edit-panel {
    color: $text-color-quiet;

    .consignee-row {
        overflow: hidden;
        border-bottom: $line-color 1px solid;

        dt {
            font-weight: normal;
        }

        dd {
            overflow: hidden;
        }
    }

    .require {
        color: $assertive;
    }

    .consignee-input {
        width: 100%;
        color: $text-color;
        border: none;
    }

    .consignee-textarea {
        background-color: $light;
        overflow: hidden;
        white-space: nowrap;
    }

    .consignee-row-full {
        margin: 0;

        dt {
            max-width:  64.516%;
            @include text-overflow-ellipsis;
        }
    }

    .row-full-txt-5 {
        .cm-icon {
            margin-top: -30px;
        }
    }

    .input-field[readonly] {
      background-color: $light;
      color: $text-color;
    }

    .consignee-row-half {
        width: 50%;
        margin-bottom: 0;
    }

    .consignee-region {
        color: $text-color;

        .cm-icon {
            margin-top: -6px;
            font-size: $font-size-icon;
        }
    }

    .rel {
        position: relative;
    }

    .row-region-icon {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14px;
    }
}

.member-consignee-footer {

    &.bar-footer {
        padding: 10px 0;
        height: 60px;
    }
    .consignee-add-btn {
        width: 260px;
        background-color: #f8474e;
        color: #fff;
        border: none;
        font-size: 16px;
        margin: 0 auto;
    }
}

.consignee-ineffective {
    color:  $assertive;
}
