@charset "utf-8";

.store-map-view {
    .amap-container {
        display: block;
        width: 100%;
        height: 100%;
    }

    .map-info-panel {
        display: none;
        padding: 10px;
        background-color: rgba($dark,.65);
        border-radius: 5px;
        white-space: nowrap;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            right: 50%;
            bottom: -15px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid rgba($dark,.65);
            margin-right: -10px;
        }

        .button {
            font-size: 12px;
        }
    }
    .map-info-left {
        overflow: hidden;
    }

    .marker-info {
        font-size: 10px;
        line-height: 1.2em;
        color: $light;
    }

    .marker-info-name {
        font-size: 12px;
        line-height: 1.5em;
    }

    .marker-info-address {}
}
