.login-panel {

    .image-verify-code-item {
        .image-verify-code {
            height: 34px;
        }
    }

    .col-left {
        text-align: left;
    }

    .col-right {
        text-align: right;
    }
}
