@charset "UTF-8";

@font-face {font-family: "cmiconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.cm-icon {
  font-family: "cmiconfont" !important;
  font-size:20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.cm-icon {
    &.icon10:before { content: "\e600"; }
    &.icon17:before { content: "\e601"; }
    &.icon18:before { content: "\e602"; }
    &.icon19:before { content: "\e603"; }
    &.icon20:before { content: "\e604"; }
    &.icon01:before { content: "\e605"; }
    &.icon02:before { content: "\e606"; }
    &.icon03:before { content: "\e607"; }
    &.icon04:before { content: "\e608"; }
    &.icon05:before { content: "\e609"; }
    &.icon06:before { content: "\e60a"; }
    &.icon07:before { content: "\e60b"; }
    &.icon08:before { content: "\e60c"; }
    &.icon09:before { content: "\e60d"; }
    &.icon11:before { content: "\e60e"; }
    &.icon12:before { content: "\e60f"; }
    &.icon14:before { content: "\e610"; color: $balanced;}
    &.icon16:before { content: "\e612"; }
    &.icon13:before { content: "\e613"; }
    &.icon24:before { content: "\e614"; }
    &.icon25:before { content: "\e615"; }
    &.icon26:before { content: "\e616"; }
    &.icon27:before { content: "\e617"; }
    &.icon28:before { content: "\e618"; }
    &.icon29:before { content: "\e619"; }
    &.icon30:before { content: "\e61a"; }
    &.icon31:before { content: "\e61b"; }
    &.icon32:before { content: "\e61c"; }
    &.icon33:before { content: "\e61d"; }
    &.icon34:before { content: "\e61e"; }
    &.icon35:before { content: "\e61f"; }
    &.icon36:before { content: "\e620"; }
    &.icon37:before { content: "\e621"; }
    &.icon38:before { content: "\e622"; }
    &.icon39:before { content: "\e623"; }
    &.icon40:before { content: "\e624"; }
    &.icon21:before { content: "\e625"; }
    &.icon22:before { content: "\e626"; }
    &.iconbig10:before { content: "\e611"; }
    &.iconbig01:before { content: "\e627"; }
    &.iconbig03:before { content: "\e628"; }
    &.iconbig04:before { content: "\e629"; }
    &.iconbig05:before { content: "\e62a"; }
    &.iconbig06:before { content: "\e62b"; }
    &.iconbig07:before { content: "\e62c"; }
    &.iconbig08:before { content: "\e62d"; }
    &.iconbig09:before { content: "\e62e"; }
    &.iconziti15:before { content: "\e62f"; }
    &.iconziti0211:before {content: "\e630";}
}

@font-face {font-family: "cmiconfont-message-center";
  src: url('../fonts/message-center-iconfont.eot'); /* IE9*/
  src: url('../fonts/message-center-iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/message-center-iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/message-center-iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/message-center-iconfont.svg#cmiconfont-message-center') format('svg'); /* iOS 4.1- */
}

$cmiconfont-message-center:(
    'gift':'\e600',
    'message':'\e601',
    'ring':'\e602'
);

%cm-icon-message-center {
    font-family: "cmiconfont-message-center" !important;
}

.cm-icon {
    @each $name, $unicode in $cmiconfont-message-center {
        &.icon-#{$name}{
            @extend %cm-icon-message-center;

            &:before {
                content: $unicode;
            }
        }
    }
}

@font-face {font-family: "cmiconfont-overseas-shop";
  src: url('../fonts/icon-overseas-shop/iconfont.eot'); /* IE9*/
  src: url('../fonts/icon-overseas-shop/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icon-overseas-shop/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icon-overseas-shop/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icon-overseas-shop/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

$cmiconfont-overseas-shop:(
    'tax-rate':'\e600',
    'id-card':'\e601',
    'overseas-shop':'\e602',
    'browsing-record':'\e603',
    'other-fn':'\e604',
    'ring':"\e607",
    'carr-wallet':'\e608'
);

%cm-icon-overseas-shop {
    font-family: "cmiconfont-overseas-shop" !important;
}

.cm-icon {
    @each $name, $unicode in $cmiconfont-overseas-shop {
        &.icon-#{$name}{
            @extend %cm-icon-overseas-shop;

            &:before {
                content: $unicode;
            }
        }
    }
}

// 添加分享 和 商品详情页的历史记录图标
@font-face {font-family: "cmiconfont-share-time";
  src: url('../fonts/icon-share-time/iconfont.eot'); /* IE9*/
  src: url('../fonts/icon-share-time/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icon-share-time/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icon-share-time/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icon-share-time/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

$cmiconfont-share-time:(
    'share':'\e608',
    'clock':'\e606'
);

%cm-icon-share-time {
    font-family: "cmiconfont-share-time" !important;
}

.cm-icon {
    @each $name, $unicode in $cmiconfont-share-time {
        &.icon-#{$name}{
            @extend %cm-icon-share-time;

            &:before {
                content: $unicode;
            }
        }
    }
}

// 会员中心
@font-face {font-family: "cmiconfont-member-center";
  src: url('../fonts/member-center/iconfont.eot'); /* IE9*/
  src: url('../fonts/member-center/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/member-center/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/member-center/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/member-center/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

$cmiconfont-member-center:(
    'bangding':'\e64d',
    'saoma':'\e64e',
    'huiyuanqia':'\e64f',
    'zhuce':'\e650',
    'jiebang':'\e651',
    'huiyuanxinxi':'\e652',
);

%cm-icon-member-center {
  font-family:"cmiconfont-member-center" !important;
}

.cm-icon {
    @each $name, $unicode in $cmiconfont-member-center {
        &.icon-#{$name}{
            @extend %cm-icon-member-center;

            &:before {
                content: $unicode;
            }
        }
    }
}
