.ant-form {
    .sub-form {
        padding-left: 16px;
        border: none;
    }

    .sub-form-title {
        box-sizing: content-box;
        margin-left: -16px;
        padding-right: 16px;
    }
}
